/* ///////////////////////////////////////////////               GENERAL */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* <!------------------- Задание №3 --> */
.gallery {
  width: 300px;
  height: auto;
  margin: 10px;
}

/* <!------------------- Задание №6 --> */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input:focus {
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.valid:focus {
  outline: none;
}

#validation-input.invalid {
  border-color: #f44336;
}

#validation-input.invalid:focus {
  outline: none;
}
