/* Фон шапки - #FFFFFF; */
/* Фон Топа №1 - #2F303A; */
/* Фон Боди №1-2 - #E5E5E5*/
/* Фон Низа №4 - #F5F4FA; */
/* Фон Футера - #2F303A; */
/* Цвет основного текста - #212121; */
/* Цвет вторичного текста - #757575; */
/* Цвет акцента - #2196F3 */
/* Цвет текста адреса внизу - 
rgba(255, 255, 255, 0.6); */

/* Шрифт Лого - Raleway */
/* Шрифт весь остальной -Roboto */

/* ///////////////////////////////////////////////               GENERAL */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.gallery {
  width: 100px;
  height: 100px;

  margin: 30px;
  background-color: aqua;
}
